/* Para nosotros comprobar que nuestro css y html estan linkeados */
/* *{
    background: purple;
} */

/* body{
    background: red;
} */
nav{
    border: solid 2px black;
    margin-left: 500px;
}
h1{
    border: solid 2px blue;
    text-align: center;
    /* padding-left: 200px; */
    font-family: 'Times New Roman', Times, serif;
}
p{
    display: inline-block;
}
.Parrafo1{
    border: rgb(48, 86, 117) solid 2px;
    width: 300px;
    height: 100vh;
}
.Parrafo2{
    border: green solid 2px;
    width: 400px;
    margin: 40px 100px 15px 60px;
}

a{
    border: brown solid 1px;
}
div{
    background: linear-gradient(green, red, yellow);
    border: solid 2px;
    width: 500px;
    height: 500px;
}
section{
    border: solid 2px pink;
    width: 100vw;
    height: 100vh;
}
.compu{
    border-radius: 100px;
}